<div class="actionbar">
    <div class="title-abs">SPEAKER WS</div>
    <div id="full-screen" class="icon-full-screen" ng-click='fullscreen()'><i class="fa fa-expand"></i></div>
    <div id="options" class="icon-menu" ng-click='togglePluginList()' ><i class="fa fa-ellipsis-v"></i></div>
    <ul id="plugin-list" class="plugin-list" ng-show='showList'>
        <li class="plugin" ng-repeat="plugin in model.pluginList | filter:activeFilter" id="plugin.id" ng-click='pluginClicked(plugin)' ><i class="fa {{plugin.icon}}"></i>&nbsp {{plugin.name}}</li>        
    </ul>
</div>