dist
remote/.sass-cache
remote/.tmp
remote/conf
remote/node_modules
server/npm-debug.log
remote/src/bower_components
reveal_plugin/.sass-cache
reveal_plugin/.tmp
reveal_plugin/conf
reveal_plugin/node_modules
reveal_plugin/npm-debug.log
server/.tmp
server/conf
server/node_modules
server/src/node_modules
server/src/npm-debug.log