dist
remote/.sass-cache
remote/.tmp
remote/conf
remote/node_modules
remote/src/bower_components
reveal_plugin/.tmp
reveal_plugin/conf
reveal_plugin/node_modules
server/.sass-cache
server/.tmp
server/conf
server/node_modules
server/src/node_modules
server/src/npm-debug.log
server/src/bower_components