/***
 *       _____ ____  _      ____  _____   _____ 
 *      / ____/ __ \| |    / __ \|  __ \ / ____|
 *     | |   | |  | | |   | |  | | |__) | (___  
 *     | |   | |  | | |   | |  | |  _  / \___ \ 
 *     | |___| |__| | |___| |__| | | \ \ ____) |
 *      \_____\____/|______\____/|_|  \_\_____/ 
 *                                              
 *                                              
 */
/***
 *     __      __     _____   _____ 
 *     \ \    / /\   |  __ \ / ____|
 *      \ \  / /  \  | |__) | (___  
 *       \ \/ / /\ \ |  _  / \___ \ 
 *        \  / ____ \| | \ \ ____) |
 *         \/_/    \_\_|  \_\_____/ 
 *                                  
 *                                  
 */
/***
 *       _____ ____  _      ____  _____   _____ 
 *      / ____/ __ \| |    / __ \|  __ \ / ____|
 *     | |   | |  | | |   | |  | | |__) | (___  
 *     | |   | |  | | |   | |  | |  _  / \___ \ 
 *     | |___| |__| | |___| |__| | | \ \ ____) |
 *      \_____\____/|______\____/|_|  \_\_____/ 
 *                                              
 *                                              
 */
/***
 *     __      __     _____   _____ 
 *     \ \    / /\   |  __ \ / ____|
 *      \ \  / /  \  | |__) | (___  
 *       \ \/ / /\ \ |  _  / \___ \ 
 *        \  / ____ \| | \ \ ____) |
 *         \/_/    \_\_|  \_\_____/ 
 *                                  
 *                                  
 */
/**-----------------
* Navigation buttons
**------------------
*/
/* line 9, ../sass/nav.scss */
#next, #prev, #up, #down, #show, #left, #right, #reset {
  position: absolute;
  background-color: #fff;
  -moz-box-shadow: 1px 1px 5px 1px #3e3d40;
  -webkit-box-shadow: 1px 1px 5px 1px #3e3d40;
  -o-box-shadow: 1px 1px 5px 1px #3e3d40;
  box-shadow: 1px 1px 5px 1px #3e3d40;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#3e3d40, Direction=134, Strength=5);
}

/* line 19, ../sass/nav.scss */
#left, #right {
  top: 50%;
  margin-top: -25px;
}

/* line 25, ../sass/nav.scss */
#up, #down {
  left: 50%;
  margin-left: -25px;
}

/* line 30, ../sass/nav.scss */
#next, #right {
  right: 10px;
}

/* line 33, ../sass/nav.scss */
#prev, #left, #reset {
  left: 10px;
}

/* line 37, ../sass/nav.scss */
#up, #next, #prev {
  top: 10px;
}

/* line 40, ../sass/nav.scss */
#down, #reset {
  bottom: 10px;
}

/* line 44, ../sass/nav.scss */
#show {
  height: 60px;
  width: 60px;
  font-size: 25px;
  top: 50%;
  left: 50%;
  margin-left: -30px;
  margin-top: -30px;
}

/* line 54, ../sass/nav.scss */
#preview .next-slide {
  color: #009aa6;
}

/* line 58, ../sass/nav.scss */
#preview .slide-preview-number {
  font-size: 0.5em;
  position: absolute;
  bottom: 2px;
  left: 50%;
  margin-left: -25%;
}

/***
 *       _____ ____  _      ____  _____   _____ 
 *      / ____/ __ \| |    / __ \|  __ \ / ____|
 *     | |   | |  | | |   | |  | | |__) | (___  
 *     | |   | |  | | |   | |  | |  _  / \___ \ 
 *     | |___| |__| | |___| |__| | | \ \ ____) |
 *      \_____\____/|______\____/|_|  \_\_____/ 
 *                                              
 *                                              
 */
/***
 *     __      __     _____   _____ 
 *     \ \    / /\   |  __ \ / ____|
 *      \ \  / /  \  | |__) | (___  
 *       \ \/ / /\ \ |  _  / \___ \ 
 *        \  / ____ \| | \ \ ____) |
 *         \/_/    \_\_|  \_\_____/ 
 *                                  
 *                                  
 */
/***
 *      _   _  ____ _______ ______  _____  
 *     | \ | |/ __ \__   __|  ____|/ ____| 
 *     |  \| | |  | | | |  | |__  | (___   
 *     | . ` | |  | | | |  |  __|  \___ \  
 *     | |\  | |__| | | |  | |____ ____) | 
 *     |_| \_|\____/  |_|  |______|_____/  
 *                                         
 *                                         
 */
/* line 16, ../sass/notes.scss */
#notes .actionbar {
  height: 30px;
  font-size: 15px;
  line-height: 30px;
}

/* line 22, ../sass/notes.scss */
#notes .actionbar .slide-number {
  position: absolute;
  right: 0;
  padding-right: 15px;
  height: 100%;
  font-size: 15px;
}

/* line 30, ../sass/notes.scss */
#notes .curent-slide {
  color: #009aa6;
}

/* line 34, ../sass/notes.scss */
#notes {
  overflow: hidden;
}

/* line 38, ../sass/notes.scss */
#content-notes {
  position: absolute;
  top: 30px;
  left: 0;
  font-size: 2em;
  line-height: 1.2em;
  overflow: auto;
  height: calc(100% - 30px);
  width: calc(100%);
}

/* line 50, ../sass/notes.scss */
.hractionbar {
  position: absolute;
  width: 100%;
  top: 30px;
  left: 0;
}

/***
 *       _____ ____  _      ____  _____   _____ 
 *      / ____/ __ \| |    / __ \|  __ \ / ____|
 *     | |   | |  | | |   | |  | | |__) | (___  
 *     | |   | |  | | |   | |  | |  _  / \___ \ 
 *     | |___| |__| | |___| |__| | | \ \ ____) |
 *      \_____\____/|______\____/|_|  \_\_____/ 
 *                                              
 *                                              
 */
/***
 *     __      __     _____   _____ 
 *     \ \    / /\   |  __ \ / ____|
 *      \ \  / /  \  | |__) | (___  
 *       \ \/ / /\ \ |  _  / \___ \ 
 *        \  / ____ \| | \ \ ____) |
 *         \/_/    \_\_|  \_\_____/ 
 *                                  
 *                                  
 */
/***
 *      _______ _____ __  __ ______         _      ____          _____  ______ _____  
 *     |__   __|_   _|  \/  |  ____|       | |    / __ \   /\   |  __ \|  ____|  __ \ 
 *        | |    | | | \  / | |__          | |   | |  | | /  \  | |  | | |__  | |__) |
 *        | |    | | | |\/| |  __|         | |   | |  | |/ /\ \ | |  | |  __| |  _  / 
 *        | |   _| |_| |  | | |____        | |___| |__| / ____ \| |__| | |____| | \ \ 
 *        |_|  |_____|_|  |_|______|       |______\____/_/    \_\_____/|______|_|  \_\
 *                                                                                    
 *                                                                                    
 */
/**-----------------
* Ellapsed
**------------------
*/
/* line 23, ../sass/timer.scss */
.elapsed {
  position: absolute;
  width: calc(100% - (40px * 3 + 1px));
  height: 40px;
  top: 0;
  left: calc(40px * 2 + 1px);
  color: #3e3d40;
  vertical-align: middle;
}

/*
@media screen and (orientation:landscape){
    .elapsed {
        width:70%;
        border-radius:70%;
        padding-bottom:70%;
        margin-left:-35%;
        
    }
}*/
/* line 46, ../sass/timer.scss */
.elapsed_bg {
  color: #009aa6;
  position: absolute;
  height: 5px;
  width: 100%;
  bottom: 0;
  left: 0;
}

/* line 55, ../sass/timer.scss */
.timeEllapesd {
  font-family: digital;
  font-size: 30px;
  line-height: 40px;
  color: #3e3d40;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  text-align: center;
}

/* line 67, ../sass/timer.scss */
.elapsed .mute {
  color: #dddddd;
}

/* line 71, ../sass/timer.scss */
.actions_times {
  position: absolute;
  background-color: #3e3d40;
  bottom: 0;
  left: 0;
  height: 40px;
  width: calc(40px * 2 + 1px);
}

/* line 80, ../sass/timer.scss */
#action_time_play, #action_time_stop, #action_time_pause {
  background-color: #009aa6;
  position: absolute;
  top: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  color: #fff;
  font-size: 150%;
  line-height: 150%;
  margin: auto;
}

/* line 93, ../sass/timer.scss */
#time i {
  font-size: 20px;
  line-height: 40px;
  top: 0;
  margin-top: 0;
}

/* line 100, ../sass/timer.scss */
#time .actionbar .icon-menu {
  line-height: 40px;
}

/* line 104, ../sass/timer.scss */
#time .actionbar .title-menu {
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 15px;
  line-height: 40px;
  text-align: left;
  left: 5px;
}

/* line 114, ../sass/timer.scss */
#action_time_play, #action_time_pause {
  left: 0;
}

/* line 117, ../sass/timer.scss */
#action_time_stop {
  left: calc(40px + 1px);
}

/**-----------------
* Config
**------------------
*/
/* line 126, ../sass/timer.scss */
#config_ellapsed_cancel, #config_ellapsed_validate {
  background-color: #009aa6;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  text-align: center;
  color: #fff;
  font-size: 1em;
  margin: auto;
}

/* line 138, ../sass/timer.scss */
#config_ellapsed_cancel {
  right: calc(40px + 1px);
}

/* line 142, ../sass/timer.scss */
#config_ellapsed_validate {
  right: 0;
}

/* line 146, ../sass/timer.scss */
.config_ellapsed_lbl {
  position: absolute;
  width: 60%;
  font-size: 1em;
  line-height: 1em;
  left: 5px;
  top: 0;
  text-align: center;
}

/* line 156, ../sass/timer.scss */
#time .config_ellapsed_time {
  font-family: digital;
  width: calc(100% - (40px * 2 + 1px) - 150px);
  margin: auto;
  height: 2em;
  position: absolute;
  top: 50%;
  right: calc(40px * 2 + 5px);
  margin-top: -1em;
}

/* line 167, ../sass/timer.scss */
#time .config_ellapsed_time input {
  font-family: digital;
  text-align: center;
  font-size: 25px;
  width: 100%;
}

/* line 174, ../sass/timer.scss */
#configEllapsed .actions_times {
  left: calc(100% - (40px * 2 + 1px));
}

/**-----------------
* Spinner
**------------------
*/
/* line 184, ../sass/timer.scss */
.loader-spiner, .loader-spinner-alert {
  width: 200%;
  height: 200%;
  border-radius: 50%;
  border: 10px solid;
  box-sizing: border-box;
}

/* line 192, ../sass/timer.scss */
.loader-spinner-alert {
  border-color: #be233a;
}

/* line 196, ../sass/timer.scss */
.loader-spiner {
  border-color: #009aa6;
}

/***
 *      ______ ____  _   _ _______ _____ 
 *     |  ____/ __ \| \ | |__   __/ ____|
 *     | |__ | |  | |  \| |  | | | (___  
 *     |  __|| |  | | . ` |  | |  \___ \ 
 *     | |   | |__| | |\  |  | |  ____) |
 *     |_|    \____/|_| \_|  |_| |_____/ 
 *                                       
 *                                       
 */
@font-face {
  font-family: digital;
  src: url("../font/DS-DIGII.TTF");
}

/***
 *       _____ ____  __  __ __  __  ____  _   _        _____  _____   ____  _____  ______ _____ _______ _____ ______  _____ 
 *      / ____/ __ \|  \/  |  \/  |/ __ \| \ | |      |  __ \|  __ \ / __ \|  __ \|  ____|  __ \__   __|_   _|  ____|/ ____|
 *     | |   | |  | | \  / | \  / | |  | |  \| |      | |__) | |__) | |  | | |__) | |__  | |__) | | |    | | | |__  | (___  
 *     | |   | |  | | |\/| | |\/| | |  | | . ` |      |  ___/|  _  /| |  | |  ___/|  __| |  _  /  | |    | | |  __|  \___ \ 
 *     | |___| |__| | |  | | |  | | |__| | |\  |      | |    | | \ \| |__| | |    | |____| | \ \  | |   _| |_| |____ ____) |
 *      \_____\____/|_|  |_|_|  |_|\____/|_| \_|      |_|    |_|  \_\____/|_|    |______|_|  \_\ |_|  |_____|______|_____/ 
 *                                                                                                                          
 *                                                                                                                          
 */
/* line 34, ../sass/notes-speaker.scss */
body {
  font-family: Arial, sans-serif;
  height: 100%;
  background-color: #3e3d40;
  color: #3e3d40;
}

/* line 41, ../sass/notes-speaker.scss */
.border {
  border-style: solid;
  border-width: 0px;
  border-radius: 5px;
  position: absolute;
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
}

/***
 *      __  __          _____ _   _      _____ _____  _____ _____   ____   _____ _____ _______ _____ ____  _   _ 
 *     |  \/  |   /\   |_   _| \ | |    |  __ \_   _|/ ____|  __ \ / __ \ / ____|_   _|__   __|_   _/ __ \| \ | |
 *     | \  / |  /  \    | | |  \| |    | |  | || | | (___ | |__) | |  | | (___   | |    | |    | || |  | |  \| |
 *     | |\/| | / /\ \   | | | . ` |    | |  | || |  \___ \|  ___/| |  | |\___ \  | |    | |    | || |  | | . ` |
 *     | |  | |/ ____ \ _| |_| |\  |    | |__| || |_ ____) | |    | |__| |____) |_| |_   | |   _| || |__| | |\  |
 *     |_|  |_/_/    \_\_____|_| \_|    |_____/_____|_____/|_|     \____/|_____/|_____|  |_|  |_____\____/|_| \_|
 *                                                                                                               
 *                                                                                                               
 */
/* line 62, ../sass/notes-speaker.scss */
#notes, #time, #preview {
  width: calc(100% - (10px * 2));
  left: 0;
}

/* line 67, ../sass/notes-speaker.scss */
#notes {
  height: calc(50% - 40px - 10px - 10px - 40px);
  top: 40px;
  margin-bottom: calc($margin / 2);
  margin-top: 10px;
}

/* line 74, ../sass/notes-speaker.scss */
#time {
  height: 40px;
  bottom: 50%;
  margin-bottom: calc(10px / 2);
  margin-top: calc(10px / 2);
}

/* line 81, ../sass/notes-speaker.scss */
#preview {
  margin-bottom: 10px;
  margin-top: calc(10px  /2);
  height: calc(50% - 10px);
  bottom: 0;
}

@media screen and (orientation: landscape) {
  /* line 89, ../sass/notes-speaker.scss */
  #notes, #time {
    width: calc(30% - 10px - 10px);
    left: 0;
  }

  /* line 94, ../sass/notes-speaker.scss */
  #notes {
    height: calc(100% - 40px - 40px - 10px - 10px);
  }

  /* line 98, ../sass/notes-speaker.scss */
  #time {
    bottom: 0;
  }

  /* line 102, ../sass/notes-speaker.scss */
  #preview {
    width: calc(70% - 10px - 10px);
    height: calc(100% - 40px - 10px - 10px);
    bottom: 0;
    left: 30%;
  }
}
/***
 *      _____  _____  ________      _______ ________          __
 *     |  __ \|  __ \|  ____\ \    / /_   _|  ____\ \        / /
 *     | |__) | |__) | |__   \ \  / /  | | | |__   \ \  /\  / / 
 *     |  ___/|  _  /|  __|   \ \/ /   | | |  __|   \ \/  \/ /  
 *     | |    | | \ \| |____   \  /   _| |_| |____   \  /\  /   
 *     |_|    |_|  \_\______|   \/   |_____|______|   \/  \/    
 *                                                              
 *                                                              
 */
/* line 122, ../sass/notes-speaker.scss */
#wrap-next-slide {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* line 128, ../sass/notes-speaker.scss */
.slides {
  position: relative;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 2px;
  background: #1c1e20;
}

/* line 136, ../sass/notes-speaker.scss */
.slides span {
  position: absolute;
  top: 3px;
  left: 3px;
  font-weight: bold;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.9);
}

/* line 145, ../sass/notes-speaker.scss */
.error {
  font-weight: bold;
  color: red;
  font-size: 1.5em;
  text-align: center;
  margin-top: 10%;
}

/* line 153, ../sass/notes-speaker.scss */
.error code {
  font-family: monospace;
}

/***
 *               _____ _______ _____ ____  _   _         ____          _____   _____ 
 *         /\   / ____|__   __|_   _/ __ \| \ | |       |  _ \   /\   |  __ \ / ____|
 *        /  \ | |       | |    | || |  | |  \| |       | |_) | /  \  | |__) | (___  
 *       / /\ \| |       | |    | || |  | | . ` |       |  _ < / /\ \ |  _  / \___ \ 
 *      / ____ \ |____   | |   _| || |__| | |\  |       | |_) / ____ \| | \ \ ____) |
 *     /_/    \_\_____|  |_|  |_____\____/|_| \_|       |____/_/    \_\_|  \_\_____/ 
 *                                                                                   
 *                                                                                   
 */
/* line 174, ../sass/notes-speaker.scss */
.actionbar {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  height: 40px;
  width: 100%;
  font-family: "Arial Black",Arial,sans-serif;
  font-size: 20px;
  line-height: 40px;
}

/* line 186, ../sass/notes-speaker.scss */
.actionbar .title-abs {
  padding-left: 10px;
  display: inline-block;
  position: absolute;
  top: 0;
  margin-top: 0;
  left: 0;
  width: 100%;
}

/* line 197, ../sass/notes-speaker.scss */
.actionbar .icon-menu {
  position: absolute;
  right: 5px;
  top: 0;
  width: 40px;
  height: 100%;
  text-align: center;
  border-left-style: solid;
  border-left-width: 1px;
}

/* line 208, ../sass/notes-speaker.scss */
.actionbar i {
  position: absolute;
  top: 50%;
  margin-top: -25%;
}

/* line 214, ../sass/notes-speaker.scss */
ul.plugin-list {
  position: absolute;
  top: 40px;
  width: auto;
  right: 0;
  background-color: white;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 100;
}
/* line 225, ../sass/notes-speaker.scss */
ul.plugin-list .plugin {
  width: auto;
  height: auto;
  font-size: 10px;
  text-align: left;
  background-color: #e0e1dd;
  border-bottom-color: #3e3d40;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
/* line 237, ../sass/notes-speaker.scss */
ul.plugin-list .plugin a {
  text-decoration: none;
}
/* line 241, ../sass/notes-speaker.scss */
ul.plugin-list .plugin a:link, ul.plugin-list .plugin a:visited, ul.plugin-list .plugin a:hover, ul.plugin-list .plugin a:active {
  color: #3e3d40;
}
/* line 245, ../sass/notes-speaker.scss */
ul.plugin-list .plugin i {
  position: relative;
}
