@import "compass";
@import "colors";
@import "vars";



/***
 *               _____ _______ _____ ____  _   _         ____          _____   _____ 
 *         /\   / ____|__   __|_   _/ __ \| \ | |       |  _ \   /\   |  __ \ / ____|
 *        /  \ | |       | |    | || |  | |  \| |       | |_) | /  \  | |__) | (___  
 *       / /\ \| |       | |    | || |  | | . ` |       |  _ < / /\ \ |  _  / \___ \ 
 *      / ____ \ |____   | |   _| || |__| | |\  |       | |_) / ____ \| | \ \ ____) |
 *     /_/    \_\_____|  |_|  |_____\____/|_| \_|       |____/_/    \_\_|  \_\_____/ 
 *                                                                                   
 *                                                                                   
 */

.actionbar{
    z-index: 300;
    position: absolute;
    top:0;
    left:0;
    background:$bg-color;
    height:$abs-height;
    width:100%;    
    font-size:$font-size-abs;    
    line-height:$abs-height;
}


.actionbar .icon-menu{
    position:absolute;
    border-right : thin solid $color-actions;
    left:0;
    top:0;
    color: $color-actions;
    width:$abs-height;
    height:100%;
    text-align:center;
}

.actionbar .icon-menu.expand{
    background-color: $bg-color-menu;
    border-right-width: 0;
    color: white;
}


.actionbar i{
    line-height: $abs-height;
    font-size: $font-size-abs;
}






/***
 *      _______ _____ __  __ ______         _      ____          _____  ______ _____  
 *     |__   __|_   _|  \/  |  ____|       | |    / __ \   /\   |  __ \|  ____|  __ \ 
 *        | |    | | | \  / | |__          | |   | |  | | /  \  | |  | | |__  | |__) |
 *        | |    | | | |\/| |  __|         | |   | |  | |/ /\ \ | |  | |  __| |  _  / 
 *        | |   _| |_| |  | | |____        | |___| |__| / ____ \| |__| | |____| | \ \ 
 *        |_|  |_____|_|  |_|______|       |______\____/_/    \_\_____/|______|_|  \_\
 *                                                                                    
 *                                                                                    
 */


/**-----------------
* Ellapsed
**------------------
*/



.elapsed {
    position:absolute;
    width:calc(100% - (#{$abs-height} * 3 + 2px));
    width:-webkit-calc(100% - (#{$abs-height} * 3 + 2px));
    height:$abs-height;
    top:0;
    left:calc(#{$abs-height} * 2 + 1px);
    left:-webkit-calc(#{$abs-height} * 2 + 1px);
    color: $font-color;
    vertical-align:middle;
    
}



.elapsed_time, .elapsed_bg{
    @include background-image(linear-gradient(top, $color-normal-stop-1, $color-normal-stop-2));
    position: absolute;    
    border-top: thin solid $color-actions;
    height:$margin-timer;
    width:100%;
    top:$abs-height;
    left:0;
}

.elapsed_bg{
    background-image: none;
    background-color: white;
}

.elapsed_time.alert{
    @include background-image(linear-gradient(top , $color-alert-stop-1, $color-alert-stop-2));
}
.elapsed_time.advanced{
    @include background-image(linear-gradient(top , $color-advanced-stop-1, $color-advanced-stop-2));
}

.timeEllapesd{
    font-weight: 400;
    font-size: $font-size-timer;
    line-height:$abs-height;
    color:$font-color-timer;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;    
    text-align: center;
}

.totalTime{
    font-weight: 400;
    font-size: $font-size-slide-number;
    color:$font-color-timer;
    
}

.elapsed .mute {
    color: $font-color-mute;
}

.actions_times{
    position: absolute;
    background-color:$bg-color;
    top:0;
    right:0;
    height:$abs-height;
    width:$abs-height;
}

#action_time_play, #action_time_pause{
    position:absolute;
    border-left : thin solid $color-actions;
    top: 0;
    width:$abs-height;
    height:$abs-height;    
    text-align:center;
    color:$color-actions;
    
}

/**-----------------
* Config
**------------------
*/

#config_ellapsed_cancel, #config_ellapsed_validate{
    background-color: $color-actions;
    position:absolute;
    width:$abs-height;
    height:$abs-height;
    top:0;   
    text-align:center;
    color:#fff;
    font-size:1em;
    margin:auto;    
}

#config_ellapsed_cancel{
    right: calc(#{$abs-height} + 1px);
    right: -webkit-calc(#{$abs-height} + 1px);
}

#config_ellapsed_validate{
    right:0;  
}

.config_ellapsed_lbl{
    position:absolute;
    width:60%;
    font-size:1em;
    line-height:1em;
    left:5px;
    top:0;
    text-align:center;
}

#time .config_ellapsed_time{
    font-family:digital;    
    width: calc(100% - (#{$abs-height} * 2 + 1px) - 150px);
    width: -webkit-calc(100% - (#{$abs-height} * 2 + 1px) - 150px);
    margin: auto;
    height:2em;
    position:absolute;
    top:50%;
    right:calc(#{$abs-height} * 2 + 5px);
    right:-webkit-calc(#{$abs-height} * 2 + 5px);
    margin-top:-1em;
}

#time .config_ellapsed_time input{
    font-family:digital;
    text-align: center;
    font-size: 25px;
    width: 100%;
}

#configEllapsed .actions_times{
    left:calc(100% - (#{$abs-height} * 2 + 1px));
    left:-webkit-calc(100% - (#{$abs-height} * 2 + 1px));
}

/**-----------------
* Spinner
**------------------
*/

.loader-spiner, .loader-spinner-alert
{
    width: 200%;
    height: 200%;
    border-radius: 50%;
    border: 10px solid;
    box-sizing: border-box;
}  

.loader-spinner-alert{
    border-color:$color-alert;
}
.loader-spiner
{
    border-color:$color-actions;
}  