/***
 *       _____ ____  _      ____  _____   _____ 
 *      / ____/ __ \| |    / __ \|  __ \ / ____|
 *     | |   | |  | | |   | |  | | |__) | (___  
 *     | |   | |  | | |   | |  | |  _  / \___ \ 
 *     | |___| |__| | |___| |__| | | \ \ ____) |
 *      \_____\____/|______\____/|_|  \_\_____/ 
 *                                              
 *                                              
 */
$bg-color : #E0DAC7;
$bg-color-menu : #939183;
$panel-color : #fff;

$color-actions : #939183;


$font-color-notes : #675C53;
$font-color : #3e3d40;
$font-color-menu : #CAC3AD;
$font-color-timer : #2DA594;
$font-color-slide : #B7183B;
$font-color-mute : $color-actions;
$font-color-curent : $color-actions; 


$color-normal-stop-1 : #A4FF00;
$color-normal-stop-2 : #7BBA09;
$color-alert : #be233a;
$color-alert-stop-1 : #FF8D00;
$color-alert-stop-2 : #FF0000;
$color-avanced : #FFBB33;
$color-advanced-stop-1 : #FFDD00;
$color-advanced-stop-2 : #DD9700;
$color-plugin: #E0E1DD;

@mixin shadow{
	@include box-shadow(rgba(black, 0.75) 0px 0px 5px);
}
