@import "compass/css3";
@import "colors";
@import "vars";

/**-----------------
* Navigation buttons
**------------------
*/

$size-show:75px;
$size-reset : 30px;
$width-back : 70px;
$height-back : 30px;

#preview .button{
    background: none;
}

#controls{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#up, #down, #show, #left, #right{
    color : white;
}

#next, #prev, #up, #down, #show, #left, #right, #reset, #back{
    position:absolute;    
}

#left, #right{
    height: 50px;
    top:50%;
    margin-top:-25px;
    line-height: 50px;
}


#up, #down{
    width: 50px;
    left:50%;
    margin-left:-25px;
    text-align: center;
}

#next,  #right{
    right:$margin-nav;
}
#prev, #left, #reset{
    left:$margin-nav;
}

#up, #next, #prev{
    top:$margin-nav;
}
#down, #reset{
    bottom:$margin-nav;
}

#reset, #show, #back{
    -moz-box-shadow: 1px 1px 5px 1px #3e3d40;
    -webkit-box-shadow: 1px 1px 5px 1px #3e3d40;
    -o-box-shadow: 1px 1px 5px 1px #3e3d40;
    box-shadow: 1px 1px 5px 1px #3e3d40;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#3e3d40, Direction=134, Strength=5);
}

#preview a[disabled]{
    opacity: 0.1;
}

#preview #reset{
    background-color: white;
    line-height: $size-reset;
    text-align: center;
    width: $size-reset;
    height: $size-reset;
    border-radius: $size-reset;
}

#preview #back{
    background-color: white;
    opacity: 0;    
    padding-left: 5px;
    height:$height-back;
    width:$width-back;
    text-align: left;
    font-size:15pt;
    line-height: $height-back;
    top:50%;
    left:75%;
    margin-left:-($width-back + 30px);
    margin-top:-($height-back / 2);
    color:black;
    @include transition-property(opacity, left);
    @include transition-duration(0.2s);
    @include transition-timing-function(ease-in);
}

#preview #back.visible{
    opacity: 0.7;    
    left:50%;    
}

#preview #back:before{
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    left: -($height-back / 2);
    border-top: ($height-back / 2) solid transparent;
    border-bottom: ($height-back / 2) solid transparent;
    border-right: ($height-back / 2) solid white;
    top: 0;    
}

#preview #show{
    background-color: white;
    opacity: 0.7;
    border-radius: $size-show;
    height:$size-show;
    line-height:$size-show;
    width:$size-show;
    text-align: center;
    font-size:20pt;
    top:50%;
    left:50%;
    margin-left:-($size-show/2);
    margin-top:-($size-show/2);
    color:black;
}

#preview .slide-preview-number{
    background-color: $bg-color;
    position: absolute;
    width: auto;
    top: -1px;
    text-align: right;
    padding: 0 10px;
    right: -1px;
    height: 40px;
    font-size: 12pt;
    color: $font-color-notes;

    .next-slide{
        font-size: $font-size-current-slide;
    }
    
}

#preview #show.hide, #preview #back.visible.hide{
    @include transition-property(opacity);
    @include transition-duration(6s);
    @include transition-timing-function(ease-in);
    opacity: 0.2;
}

