@import "colors";
@import "vars";

/**-----------------
* Navigation buttons
**------------------
*/

$size-show:75px;
$size-reset : 30px;

#preview .button{
    background: none;
}

#up, #down, #show, #left, #right{
    color : white;
}

#next, #prev, #up, #down, #show, #left, #right, #reset{
    position:absolute;    
}

#left, #right{
    top:50%;
    margin-top:-25px;
}


#up, #down{
    left:50%;
    margin-left:-25px;
}

#next,  #right{
    right:$margin-nav;
}
#prev, #left, #reset{
    left:$margin-nav;
}

#up, #next, #prev{
    top:$margin-nav;
}
#down, #reset{
    bottom:$margin-nav;
}

#reset, #show{
    -moz-box-shadow: 1px 1px 5px 1px #3e3d40;
    -webkit-box-shadow: 1px 1px 5px 1px #3e3d40;
    -o-box-shadow: 1px 1px 5px 1px #3e3d40;
    box-shadow: 1px 1px 5px 1px #3e3d40;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#3e3d40, Direction=134, Strength=5);
}

#preview a[disabled]{
    opacity: 0.1;
}

#preview #reset{
    background-color: white;
    line-height: $size-reset;
    text-align: center;
    width: $size-reset;
    height: $size-reset;
    border-radius: $size-reset;
}

#preview #show{
    background-color: white;
    opacity: 0.7;
    border-radius: $size-show;
    height:$size-show;
    width:$size-show;
    text-align: center;
    font-size:20pt;
    top:50%;
    left:50%;
    margin-left:-($size-show/2);
    margin-top:-($size-show/2);
    color:black;
}

#preview .slide-preview-number{
    position:absolute;
    bottom:9px;
    left:50%;
    margin-left:-25%;
    
}