@import "compass/css3";
@import "colors";
@import "vars";
@import "fonts";

/***
 *      _   _  ____ _______ ______  _____  
 *     | \ | |/ __ \__   __|  ____|/ ____| 
 *     |  \| | |  | | | |  | |__  | (___   
 *     | . ` | |  | | | |  |  __|  \___ \  
 *     | |\  | |__| | | |  | |____ ____) | 
 *     |_| \_|\____/  |_|  |______|_____/  
 *                                         
 *                                         
 */

 $abs-notes-height: 35px;

#notes{
    overflow:hidden;
    background-color: #fff;
    @include shadow;
}


#notes .title-abs, #notes .title-abs-plugins{
    position: absolute;
    color: $font-color-notes;
    font-size: $font-size-submenu;
    line-height: $abs-notes-height;
    top: 0;
    height: $abs-notes-height;
    text-align: left;
    text-transform: uppercase;
}

#notes .title-abs.innactive, #notes .title-abs-plugins.innactive{
    border-bottom: thin solid $font-color-notes;
    color: white;
    background-color: $bg-color-menu;
}

#notes .title-abs{
    left: 0;    
    padding-left: calc(#{$abs-notes-height} + #{$margin});
    padding-left: -webkit-calc(#{$abs-notes-height} + #{$margin});
    width: 50%;
}

#notes .title-abs-plugins{
    position: absolute;
    width: 50%;
    right: 0;
    border-left: thin solid $font-color-notes;
    padding-left: 10px;
}



#notes  i{
    position: absolute;
    left: $margin;
    font-size: 19.5pt;
    text-align: center;
    height: $abs-notes-height;
    line-height: $abs-notes-height;
    color: #E0DAC7;
}

#notes  .title-abs.innactive+i{
    color: white;
}


#content-notes, ul.plugin-list, #notes .mask-plugins{
    position:absolute;    
    left:0;
    overflow:auto;
    height:calc(100% - #{$abs-notes-height});
    height:-webkit-calc(100% - #{$abs-notes-height});
    width:100%; // scrollbar
}

#content-notes, #notes .mask-plugins{
    padding: 0 10px;
    top:$abs-notes-height;
    font-family: $font-notes;
    font-size:$font-size-notes;
    line-height:1.2em;    
}

#notes .mask-plugins{
    background-color: rgba(255,255,255,0.75);
}

.hractionbar{
    position:absolute;
    width:100%;
    top:$abs-notes-height;
    left:0;
}

.slide-number{
    background-color: $bg-color;
    border-top: thin solid $font-color-notes;
    border-left: thin solid $font-color-notes;
    position: absolute;
    width: auto;
    text-align: right;
    padding: 0 10px;
    right: -1px;
    bottom: -1px;
    height: 40px;
    font-size: 12pt;
    color: $font-color-timer;
}

.curent-slide{
    color:$font-color-slide;
    font-size: $font-size-current-slide;
}

/*
*
*  PLUGINS
*
*/

$row-height : 45px;
$icon-padding-left : 2.5em;

#notes ul.plugin-list{
    list-style: none;
    top:calc(#{$abs-notes-height} + 5px);
    top:-webkit-calc(#{$abs-notes-height} + 5px);
    @include box-shadow(rgba(black, 0.75) 0px 1px 3px inset);
    padding: 0;
    margin: 0;
    
    .plugin{
        font-family: 'open_sansregular';
        position: relative;     
        width: auto;
        height: auto;
        font-size: $font-size-submenu;
        @include box-shadow(rgba(black, 0.75) 0px -1px 1px);
        text-align: left;
        padding-left: $icon-padding-left;
        color: $font-color-notes;
        line-height: $row-height;
        height: $row-height;

        a{
            text-decoration: none;
        }

        a:link, a:visited, a:hover, a:active{
            color: $font-color;
        }

        i{
            position: absolute;
            color: $color-actions;
            line-height: $row-height;
            left: $margin;
        }

    }
}



