@import "compass/css3";
@import "colors";
@import "vars";
@import "fonts";

/***
 *      _   _  ____ _______ ______  _____  
 *     | \ | |/ __ \__   __|  ____|/ ____| 
 *     |  \| | |  | | | |  | |__  | (___   
 *     | . ` | |  | | | |  |  __|  \___ \  
 *     | |\  | |__| | | |  | |____ ____) | 
 *     |_| \_|\____/  |_|  |______|_____/  
 *                                         
 *                                         
 */


#notes{
    overflow:hidden;
    background-color: #fff;
    /*@include shadow;*/
}


#notes .title-abs, #notes .title-abs-plugins{
    position: absolute;
    background-color: $bg-color;
    color: $font-color;
    font-size: $font-size-submenu;
    line-height: $abs-notes-height;
    top: 0;
    height: $abs-notes-height;
    text-align: left;
    text-transform: uppercase;
}

#notes .title-abs:after, #notes .title-abs-plugins:after{
    content: '';
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: $height-tab-indicator;
    background-color: $bg-color-tab;
}

#notes .title-abs.innactive:after, #notes .title-abs-plugins.innactive:after{
    height: 1px;
}

#notes .title-abs{
    left: 0;    
    padding-left: calc(#{$abs-notes-height} + #{$margin});
    padding-left: -webkit-calc(#{$abs-notes-height} + #{$margin});
    width: 50%;
}

#notes .title-abs-plugins{
    position: absolute;
    width: 50%;
    right: 0;
    /*border-left: thin solid $font-color-notes;*/
    padding-left: 10px;
}



#notes  i{
    position: absolute;
    left: $margin;
    font-size: 19.5pt;
    text-align: center;
    height: $abs-notes-height;
    line-height: $abs-notes-height;
    color: $font-color;
}

#notes  .title-abs.innactive, #notes .title-abs-plugins.innactive{
    color: $font-color-inactive;    
}

#notes  .title-abs.innactive+i{
    color: $font-color-inactive;
}


#content-notes, ul.plugin-list, #notes .mask-plugins{
    position:absolute;    
    left:0;
    overflow:auto;
    height:calc(100% - #{$abs-notes-height});
    height:-webkit-calc(100% - #{$abs-notes-height});
    width:100%; // scrollbar
}

#content-notes, #notes .mask-plugins{
    padding: 0 10px;
    top:$abs-notes-height;
    font-family: $font-notes;
    font-size:$font-size-notes;
    line-height:1.2em;    
}

#notes .mask-plugins{
    background-color: rgba(255,255,255,0.75);
}

.hractionbar{
    position:absolute;
    width:100%;
    top:$abs-notes-height;
    left:0;
}

.slide-number{
    background-color: $bg-color;
    border-top: thin solid $font-color-notes;
    border-left: thin solid $font-color-notes;
    position: absolute;
    width: auto;
    text-align: right;
    padding: 0 10px;
    right: -1px;
    bottom: -1px;
    height: 40px;
    font-size: 12pt;
    color: $font-color-notes;
}

.curent-slide{
    color:$font-color-slide;
    font-size: $font-size-current-slide;
}

/*
*
*  PLUGINS
*
*/




