@import "compass/css3";
@import "colors";
@import "vars";
@import "fonts";

/***
 *      _   _  ____ _______ ______  _____  
 *     | \ | |/ __ \__   __|  ____|/ ____| 
 *     |  \| | |  | | | |  | |__  | (___   
 *     | . ` | |  | | | |  |  __|  \___ \  
 *     | |\  | |__| | | |  | |____ ____) | 
 *     |_| \_|\____/  |_|  |______|_____/  
 *                                         
 *                                         
 */

#notes{
    overflow:hidden;
    background-color: #fff;
    @include shadow;
}


#notes .title-abs{
    position: absolute;
    color: #675C53;
    font-size: 19.5pt;
    left: calc(#{$abs-notes-height} + #{$margin});
    line-height: $abs-notes-height;
    height: $abs-notes-height;
}

#notes  i{
    position: absolute;
    left: $margin;
    font-size: 19.5pt;
    text-align: center;
    height: $abs-notes-height;
    line-height: $abs-notes-height;
    color: #E0DAC7;
}


#content-notes{
    position:absolute;
    top:$abs-notes-height;
    left:0;
    font-family: $font-notes;
    font-size:$font-size-notes;
    line-height:1.2em;
    overflow:auto;
    height:calc(100% - #{$abs-notes-height});
    width:calc(100%); // scrollbar
}


.hractionbar{
    position:absolute;
    width:100%;
    top:$abs-notes-height;
    left:0;
}
