@import 'colors';
@import 'vars';
@import "compass/css3";

$menu-title-height : 50px;
$row-height : 45px;
$icon-padding-left : 2.5em;

.sliding-menu{
	position: absolute;
  /*left: 0;*/
  top: calc(#{$abs-height} + #{$margin-timer});
	top: -webkit-calc(#{$abs-height} + #{$margin-timer});
  width:80%;    
  height : calc(100% - #{$abs-height} - #{$margin-timer});
	height : -webkit-calc(100% - #{$abs-height} - #{$margin-timer});
	background-color: $bg-color-menu;
	color: $font-color-menu;
	left:-80%;
	z-index:100;
	overflow:auto;
  font-size: $font-size-menu;
  font-weight:400;


    .menu-title{
      padding-left:$margin;
      margin-bottom: -10px;
      text-transform: uppercase;
      height: $menu-title-height;
      line-height: $menu-title-height;
    }

    .menu-icon{
      font-family: 'open_sansregular';
      padding-left:$margin;
  		position: relative;
      @include box-shadow(rgba(black, 0.75) 0px -1px 1px);
  		border-top: thin solid white;
  		color: white;
  		line-height: $row-height;
  		height: $row-height;
  		font-size: $font-size-submenu;

  		.fa{
  			color: $font-color-menu;
  		}

  		.fa-stack{
  			width: 1em;
  			height: 1em;
  			line-height: 1em;
  		}

  		.fa-stack-2x{
  			font-size: 1em;
  		}

  		.fa-stack-1x{
  			font-size: 0.8em;
  		}

  		.fa.fa-inverse{
  			color : $bg-color-menu;
  		}

  		.menu-icon-text{
  			position: absolute;  			
  			top: 0;
  			left: $icon-padding-left;

  		}
  	}

}

/*.sliding-menu.move{
  width:80%;    
  left: -80%;
}
*/
.sliding-menu.collapse{
	/*left:-80%;*/
  @include transition-property(width, opacity, left, transform);
  @include transition-duration(0.2s);
  @include transition-timing-function(ease-in);
  @include translateX(0);
	/*opacity: 0;*/
}

.sliding-menu.expand{
  
  @include transition-property(width, opacity, left, transform);
  @include transition-duration(0.2s);
  @include transition-timing-function(ease-in);
  @include translateX(100%);
	/*width:80%;	*/
  @include box-shadow(rgba(black, 0.75) 2px 0px 5px);
}


#config_interval{
	width: 4.5em;
	display: inline;
}



