$width : 600px;
$height : 500px;

#sws-show-qr-code{
	position: absolute;
	z-index: 200;
	top: 50%;
	left: 50%;
	width: $width;
	height: $height;
	margin-top: -($height / 2);
	margin-left: -($width / 2);
	background-color: #E0DAC7;
	border-radius: 10px;
	border: thin solid black;
	padding: 20px;
	text-align: center;


	h1{
		font-size: 23px;
	}

	#listIp{
		text-align: left;
	}
}



#qrCode{
	margin: 20px 50px;

	img{
		margin: auto;
	}
} 