@import "compass";
@import "compass/css3";
@import "fonts";

$width : 600px;
$height : 600px;

$bg-color : #E0DAC7;
$bg-color-header : rgb(87,87,87);/*#878787;*/
$color : #939183;
/*$color : #939183;*/
$percent-top : 200px;
$percent-bottom : $height - $percent-top;

#sws-show-qr-code{
	font-family: 'open_sansregular';
	position: absolute;
	z-index: 200;
	top: 50%;
	left: 50%;
	width: $width;
	height: $height;
	margin-top: -($height / 2);
	margin-left: -($width / 2);
	color : $color;
	background-color: $bg-color;
	@include box-shadow(rgba(black, 0.75) 5px 5px 10px);
	/*border-radius: 10px;*/
	/*border: thin solid black;*/
	/*padding: 20px;*/
	text-align: center;


	#listIp{
		text-align: center;
	}
}

#sws-show-qr-header, #sws-show-qr-bottom{
	position: absolute;
	padding: 25px 20px;
	width: calc(100% - 40px);
	width: -webkit-calc(100% - 40px);
}

#sws-show-qr-header{
	top: 0;
	height: calc(#{$percent-top} - 40px);
	height: -webkit-calc(#{$percent-top} - 40px);
	background-color: $bg-color-header;
	color: white;

	select, button{
		font-size: 20px;
	}

	p{
		font-size: 17px;
		color: $color;
		margin-bottom: 30px;
	}

	.title{
		font-family: 'open_sanssemibold';
		font-size: 30px;
		width: 100%;
		text-transform: uppercase;	
	}

	.close{
		position: absolute;
		font-size: 12px;
		text-transform: uppercase;
		top: 10px;
		right: 10px;
	}
}

#sws-show-qr-bottom{
	top: $percent-top;
	height: calc(#{$percent-bottom} - 40px);
	height: -webkit-calc(#{$percent-bottom} - 40px);
	text-align: center;

	h1{
		font-size: 1.6em;
		text-transform: uppercase;
	}

	canvas{
		border: thin dashed $color;
	}
}


#qrCode{
	margin: 0px 50px 10px;

	img{
		margin: auto;
	}
} 