/***
 *       _____ ____  _      ____  _____   _____ 
 *      / ____/ __ \| |    / __ \|  __ \ / ____|
 *     | |   | |  | | |   | |  | | |__) | (___  
 *     | |   | |  | | |   | |  | |  _  / \___ \ 
 *     | |___| |__| | |___| |__| | | \ \ ____) |
 *      \_____\____/|______\____/|_|  \_\_____/ 
 *                                              
 *                                              
 */
/***
 *     __      __     _____   _____ 
 *     \ \    / /\   |  __ \ / ____|
 *      \ \  / /  \  | |__) | (___  
 *       \ \/ / /\ \ |  _  / \___ \ 
 *        \  / ____ \| | \ \ ____) |
 *         \/_/    \_\_|  \_\_____/ 
 *                                  
 *                                  
 */
/**-----------------
* Navigation buttons
**------------------
*/
/* line 15, ../sass/nav.scss */
#preview .button {
  background: none;
}

/* line 19, ../sass/nav.scss */
#controls {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 27, ../sass/nav.scss */
#up, #down, #show, #left, #right {
  color: white;
}

/* line 31, ../sass/nav.scss */
#next, #prev, #up, #down, #show, #left, #right, #reset, #back {
  position: absolute;
}

/* line 35, ../sass/nav.scss */
#left, #right {
  height: 50px;
  top: 50%;
  margin-top: -25px;
  line-height: 50px;
}

/* line 43, ../sass/nav.scss */
#up, #down {
  width: 50px;
  left: 50%;
  margin-left: -25px;
  text-align: center;
}

/* line 50, ../sass/nav.scss */
#next, #right {
  right: 10px;
}

/* line 53, ../sass/nav.scss */
#prev, #left, #reset {
  left: 10px;
}

/* line 57, ../sass/nav.scss */
#up, #next, #prev {
  top: 10px;
}

/* line 60, ../sass/nav.scss */
#down, #reset {
  bottom: 10px;
}

/* line 64, ../sass/nav.scss */
#reset, #show, #back {
  -moz-box-shadow: 1px 1px 5px 1px #3e3d40;
  -webkit-box-shadow: 1px 1px 5px 1px #3e3d40;
  -o-box-shadow: 1px 1px 5px 1px #3e3d40;
  box-shadow: 1px 1px 5px 1px #3e3d40;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#3e3d40, Direction=134, Strength=5);
}

/* line 72, ../sass/nav.scss */
#preview a[disabled] {
  opacity: 0.1;
}

/* line 76, ../sass/nav.scss */
#preview #reset {
  background-color: white;
  line-height: 30px;
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

/* line 85, ../sass/nav.scss */
#preview #back {
  background-color: white;
  opacity: 0;
  padding-left: 5px;
  height: 30px;
  width: 70px;
  text-align: left;
  font-size: 15pt;
  line-height: 30px;
  top: 50%;
  left: 75%;
  margin-left: -100px;
  margin-top: -15px;
  color: black;
  -moz-transition-property: opacity, left;
  -o-transition-property: opacity, left;
  -webkit-transition-property: opacity, left;
  transition-property: opacity, left;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

/* line 104, ../sass/nav.scss */
#preview #back.visible {
  opacity: 0.7;
  left: 50%;
}

/* line 109, ../sass/nav.scss */
#preview #back:before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  left: -15px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid white;
  top: 0;
}

/* line 121, ../sass/nav.scss */
#preview #show {
  background-color: white;
  opacity: 0.7;
  border-radius: 75px;
  height: 75px;
  line-height: 75px;
  width: 75px;
  text-align: center;
  font-size: 20pt;
  top: 50%;
  left: 50%;
  margin-left: -37.5px;
  margin-top: -37.5px;
  color: black;
}

/* line 137, ../sass/nav.scss */
#preview .slide-preview-number {
  background-color: #e0dac7;
  position: absolute;
  width: auto;
  top: -1px;
  text-align: right;
  padding: 0 10px;
  right: -1px;
  height: 40px;
  font-size: 12pt;
  color: #675c53;
}
/* line 149, ../sass/nav.scss */
#preview .slide-preview-number .next-slide {
  font-size: 19.5pt;
}

/* line 155, ../sass/nav.scss */
#preview #show.hide, #preview #back.visible.hide {
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 6s;
  -o-transition-duration: 6s;
  -webkit-transition-duration: 6s;
  transition-duration: 6s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  opacity: 0.2;
}

/*# sourceMappingURL=nav.css.map */