/***
 *       _____ ____  _      ____  _____   _____ 
 *      / ____/ __ \| |    / __ \|  __ \ / ____|
 *     | |   | |  | | |   | |  | | |__) | (___  
 *     | |   | |  | | |   | |  | |  _  / \___ \ 
 *     | |___| |__| | |___| |__| | | \ \ ____) |
 *      \_____\____/|______\____/|_|  \_\_____/ 
 *                                              
 *                                              
 */
/***
 *     __      __     _____   _____ 
 *     \ \    / /\   |  __ \ / ____|
 *      \ \  / /  \  | |__) | (___  
 *       \ \/ / /\ \ |  _  / \___ \ 
 *        \  / ____ \| | \ \ ____) |
 *         \/_/    \_\_|  \_\_____/ 
 *                                  
 *                                  
 */
/***
 *       _____ ____  _      ____  _____   _____ 
 *      / ____/ __ \| |    / __ \|  __ \ / ____|
 *     | |   | |  | | |   | |  | | |__) | (___  
 *     | |   | |  | | |   | |  | |  _  / \___ \ 
 *     | |___| |__| | |___| |__| | | \ \ ____) |
 *      \_____\____/|______\____/|_|  \_\_____/ 
 *                                              
 *                                              
 */
/***
 *     __      __     _____   _____ 
 *     \ \    / /\   |  __ \ / ____|
 *      \ \  / /  \  | |__) | (___  
 *       \ \/ / /\ \ |  _  / \___ \ 
 *        \  / ____ \| | \ \ ____) |
 *         \/_/    \_\_|  \_\_____/ 
 *                                  
 *                                  
 */
/**-----------------
* Navigation buttons
**------------------
*/
/* line 15, ../sass/nav.scss */
#preview .button {
  background: none;
}

/* line 19, ../sass/nav.scss */
#controls {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 27, ../sass/nav.scss */
#up, #down, #show, #left, #right {
  color: white;
}

/* line 31, ../sass/nav.scss */
#next, #prev, #up, #down, #show, #left, #right, #reset, #back {
  position: absolute;
}

/* line 35, ../sass/nav.scss */
#left, #right {
  height: 50px;
  top: 50%;
  margin-top: -25px;
  line-height: 50px;
}

/* line 43, ../sass/nav.scss */
#up, #down {
  width: 50px;
  left: 50%;
  margin-left: -25px;
  text-align: center;
}

/* line 50, ../sass/nav.scss */
#next, #right {
  right: 10px;
}

/* line 53, ../sass/nav.scss */
#prev, #left, #reset {
  left: 10px;
}

/* line 57, ../sass/nav.scss */
#up, #next, #prev {
  top: 10px;
}

/* line 60, ../sass/nav.scss */
#down, #reset {
  bottom: 10px;
}

/* line 64, ../sass/nav.scss */
#reset, #show, #back {
  -moz-box-shadow: 1px 1px 5px 1px #3e3d40;
  -webkit-box-shadow: 1px 1px 5px 1px #3e3d40;
  -o-box-shadow: 1px 1px 5px 1px #3e3d40;
  box-shadow: 1px 1px 5px 1px #3e3d40;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#3e3d40, Direction=134, Strength=5);
}

/* line 72, ../sass/nav.scss */
#preview a[disabled] {
  opacity: 0.1;
}

/* line 76, ../sass/nav.scss */
#preview #reset {
  background-color: white;
  line-height: 30px;
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

/* line 85, ../sass/nav.scss */
#preview #back {
  background-color: white;
  opacity: 0;
  padding-left: 5px;
  height: 30px;
  width: 70px;
  text-align: left;
  font-size: 15pt;
  line-height: 30px;
  top: 50%;
  left: 75%;
  margin-left: -100px;
  margin-top: -15px;
  color: black;
  -moz-transition-property: opacity, left;
  -o-transition-property: opacity, left;
  -webkit-transition-property: opacity, left;
  transition-property: opacity, left;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

/* line 104, ../sass/nav.scss */
#preview #back.visible {
  opacity: 0.7;
  left: 50%;
}

/* line 109, ../sass/nav.scss */
#preview #back:before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  left: -15px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid white;
  top: 0;
}

/* line 121, ../sass/nav.scss */
#preview #show {
  background-color: white;
  opacity: 0.7;
  border-radius: 75px;
  height: 75px;
  width: 75px;
  text-align: center;
  font-size: 20pt;
  top: 50%;
  left: 50%;
  margin-left: -37.5px;
  margin-top: -37.5px;
  color: black;
}

/* line 136, ../sass/nav.scss */
#preview .slide-preview-number {
  position: absolute;
  bottom: 9px;
  left: 50%;
  margin-left: -25%;
  font-size: 16pt;
}

/* line 145, ../sass/nav.scss */
#preview #show.hide, #preview #back.visible.hide {
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 6s;
  -o-transition-duration: 6s;
  -webkit-transition-duration: 6s;
  transition-duration: 6s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  opacity: 0.2;
}

/***
 *       _____ ____  _      ____  _____   _____ 
 *      / ____/ __ \| |    / __ \|  __ \ / ____|
 *     | |   | |  | | |   | |  | | |__) | (___  
 *     | |   | |  | | |   | |  | |  _  / \___ \ 
 *     | |___| |__| | |___| |__| | | \ \ ____) |
 *      \_____\____/|______\____/|_|  \_\_____/ 
 *                                              
 *                                              
 */
/***
 *     __      __     _____   _____ 
 *     \ \    / /\   |  __ \ / ____|
 *      \ \  / /  \  | |__) | (___  
 *       \ \/ / /\ \ |  _  / \___ \ 
 *        \  / ____ \| | \ \ ____) |
 *         \/_/    \_\_|  \_\_____/ 
 *                                  
 *                                  
 */
/***
 *      ______ ____  _   _ _______ _____ 
 *     |  ____/ __ \| \ | |__   __/ ____|
 *     | |__ | |  | |  \| |  | | | (___  
 *     |  __|| |  | | . ` |  | |  \___ \ 
 *     | |   | |__| | |\  |  | |  ____) |
 *     |_|    \____/|_| \_|  |_| |_____/ 
 *                                       
 *                                       
 */
@font-face {
  font-family: digital;
  src: url("../font/DS-DIGII.TTF");
}
@font-face {
  font-family: "Abel";
  src: url("../font/Abel-Regular.eot");
  src: url("../font/Abel-Regular.eot?#iefix") format("embedded-opentype"), url("../font/Abel-Regular.svg#Abel") format("svg"), url("../font/Abel-Regular.woff") format("woff"), url("../font/Abel-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 35, ../sass/fonts.scss */
body {
  font-family: "Abel";
  font-weight: 800;
}

/***
 *      _   _  ____ _______ ______  _____  
 *     | \ | |/ __ \__   __|  ____|/ ____| 
 *     |  \| | |  | | | |  | |__  | (___   
 *     | . ` | |  | | | |  |  __|  \___ \  
 *     | |\  | |__| | | |  | |____ ____) | 
 *     |_| \_|\____/  |_|  |______|_____/  
 *                                         
 *                                         
 */
/* line 17, ../sass/notes.scss */
#notes {
  overflow: hidden;
  background-color: #fff;
  -moz-box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 5px;
}

/* line 24, ../sass/notes.scss */
#notes .title-abs {
  position: absolute;
  color: #675C53;
  font-size: 19.5pt;
  left: calc(30px + 10px);
  line-height: 30px;
  height: 30px;
}

/* line 33, ../sass/notes.scss */
#notes i {
  position: absolute;
  left: 10px;
  font-size: 19.5pt;
  text-align: center;
  height: 30px;
  line-height: 30px;
  color: #E0DAC7;
}

/* line 44, ../sass/notes.scss */
#content-notes {
  position: absolute;
  top: 30px;
  left: 0;
  font-family: Arial, sans-serif;
  font-size: 2em;
  line-height: 1.2em;
  overflow: auto;
  height: calc(100% - 30px);
  width: calc(100%);
}

/* line 57, ../sass/notes.scss */
.hractionbar {
  position: absolute;
  width: 100%;
  top: 30px;
  left: 0;
}

/***
 *       _____ ____  _      ____  _____   _____ 
 *      / ____/ __ \| |    / __ \|  __ \ / ____|
 *     | |   | |  | | |   | |  | | |__) | (___  
 *     | |   | |  | | |   | |  | |  _  / \___ \ 
 *     | |___| |__| | |___| |__| | | \ \ ____) |
 *      \_____\____/|______\____/|_|  \_\_____/ 
 *                                              
 *                                              
 */
/***
 *     __      __     _____   _____ 
 *     \ \    / /\   |  __ \ / ____|
 *      \ \  / /  \  | |__) | (___  
 *       \ \/ / /\ \ |  _  / \___ \ 
 *        \  / ____ \| | \ \ ____) |
 *         \/_/    \_\_|  \_\_____/ 
 *                                  
 *                                  
 */
/***
 *               _____ _______ _____ ____  _   _         ____          _____   _____ 
 *         /\   / ____|__   __|_   _/ __ \| \ | |       |  _ \   /\   |  __ \ / ____|
 *        /  \ | |       | |    | || |  | |  \| |       | |_) | /  \  | |__) | (___  
 *       / /\ \| |       | |    | || |  | | . ` |       |  _ < / /\ \ |  _  / \___ \ 
 *      / ____ \ |____   | |   _| || |__| | |\  |       | |_) / ____ \| | \ \ ____) |
 *     /_/    \_\_____|  |_|  |_____\____/|_| \_|       |____/_/    \_\_|  \_\_____/ 
 *                                                                                   
 *                                                                                   
 */
/* line 18, ../sass/actionbar.scss */
.actionbar {
  position: absolute;
  top: 0;
  left: 0;
  background: #e0dac7;
  height: 40px;
  width: 100%;
  font-size: 20px;
  line-height: 40px;
}

/* line 30, ../sass/actionbar.scss */
.actionbar .icon-menu {
  position: absolute;
  left: 0;
  top: 0;
  color: #939183;
  width: 40px;
  height: 100%;
  text-align: center;
}

/* line 40, ../sass/actionbar.scss */
.actionbar .icon-menu.expand {
  background-color: #939183;
  color: white;
}

/* line 46, ../sass/actionbar.scss */
.actionbar i {
  line-height: 40px;
  font-size: 20px;
}

/* line 51, ../sass/actionbar.scss */
.slide-number {
  position: absolute;
  left: calc(40px + 20px);
  height: 100%;
  font-size: 12pt;
  color: #2da594;
}

/* line 59, ../sass/actionbar.scss */
.curent-slide {
  color: #b7183b;
  font-size: 19.5pt;
}

/***
 *      _______ _____ __  __ ______         _      ____          _____  ______ _____  
 *     |__   __|_   _|  \/  |  ____|       | |    / __ \   /\   |  __ \|  ____|  __ \ 
 *        | |    | | | \  / | |__          | |   | |  | | /  \  | |  | | |__  | |__) |
 *        | |    | | | |\/| |  __|         | |   | |  | |/ /\ \ | |  | |  __| |  _  / 
 *        | |   _| |_| |  | | |____        | |___| |__| / ____ \| |__| | |____| | \ \ 
 *        |_|  |_____|_|  |_|______|       |______\____/_/    \_\_____/|______|_|  \_\
 *                                                                                    
 *                                                                                    
 */
/**-----------------
* Ellapsed
**------------------
*/
/* line 86, ../sass/actionbar.scss */
.elapsed {
  position: absolute;
  width: calc(100% - (40px * 3 + 2px));
  height: 40px;
  top: 0;
  left: calc(40px * 2 + 1px);
  color: #3e3d40;
  vertical-align: middle;
}

/* line 99, ../sass/actionbar.scss */
.elapsed_time, .elapsed_bg {
  background-image: -moz-linear-gradient(top, #a4ff00, #7bba09);
  background-image: -o-linear-gradient(top, #a4ff00, #7bba09);
  background-image: -webkit-linear-gradient(top, #a4ff00, #7bba09);
  background-image: linear-gradient(to bottom, #a4ff00, #7bba09);
  position: absolute;
  border-top: thin solid black;
  border-bottom: thin solid black;
  height: 7px;
  width: 100%;
  top: 40px;
  left: 0;
}

/* line 110, ../sass/actionbar.scss */
.elapsed_bg {
  background-image: none;
  background-color: white;
}

/* line 115, ../sass/actionbar.scss */
.elapsed_time.alert {
  background-image: -moz-linear-gradient(top, #ff8d00, #ff0000);
  background-image: -o-linear-gradient(top, #ff8d00, #ff0000);
  background-image: -webkit-linear-gradient(top, #ff8d00, #ff0000);
  background-image: linear-gradient(to bottom, #ff8d00, #ff0000);
}

/* line 118, ../sass/actionbar.scss */
.elapsed_time.advanced {
  background-image: -moz-linear-gradient(top, #ffdd00, #dd9700);
  background-image: -o-linear-gradient(top, #ffdd00, #dd9700);
  background-image: -webkit-linear-gradient(top, #ffdd00, #dd9700);
  background-image: linear-gradient(to bottom, #ffdd00, #dd9700);
}

/* line 122, ../sass/actionbar.scss */
.timeEllapesd {
  font-weight: 400;
  font-size: 30pt;
  line-height: 40px;
  color: #2da594;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  text-align: center;
}

/* line 134, ../sass/actionbar.scss */
.totalTime {
  font-weight: 400;
  font-size: 12pt;
  color: #2da594;
}

/* line 141, ../sass/actionbar.scss */
.elapsed .mute {
  color: #939183;
}

/* line 145, ../sass/actionbar.scss */
.actions_times {
  position: absolute;
  background-color: #e0dac7;
  top: 0;
  right: 0;
  height: 40px;
  width: 40px;
}

/* line 154, ../sass/actionbar.scss */
#action_time_play, #action_time_pause {
  position: absolute;
  top: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  color: #939183;
}

/**-----------------
* Config
**------------------
*/
/* line 169, ../sass/actionbar.scss */
#config_ellapsed_cancel, #config_ellapsed_validate {
  background-color: #939183;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  text-align: center;
  color: #fff;
  font-size: 1em;
  margin: auto;
}

/* line 181, ../sass/actionbar.scss */
#config_ellapsed_cancel {
  right: calc(40px + 1px);
}

/* line 185, ../sass/actionbar.scss */
#config_ellapsed_validate {
  right: 0;
}

/* line 189, ../sass/actionbar.scss */
.config_ellapsed_lbl {
  position: absolute;
  width: 60%;
  font-size: 1em;
  line-height: 1em;
  left: 5px;
  top: 0;
  text-align: center;
}

/* line 199, ../sass/actionbar.scss */
#time .config_ellapsed_time {
  font-family: digital;
  width: calc(100% - (40px * 2 + 1px) - 150px);
  margin: auto;
  height: 2em;
  position: absolute;
  top: 50%;
  right: calc(40px * 2 + 5px);
  margin-top: -1em;
}

/* line 210, ../sass/actionbar.scss */
#time .config_ellapsed_time input {
  font-family: digital;
  text-align: center;
  font-size: 25px;
  width: 100%;
}

/* line 217, ../sass/actionbar.scss */
#configEllapsed .actions_times {
  left: calc(100% - (40px * 2 + 1px));
}

/**-----------------
* Spinner
**------------------
*/
/* line 226, ../sass/actionbar.scss */
.loader-spiner, .loader-spinner-alert {
  width: 200%;
  height: 200%;
  border-radius: 50%;
  border: 10px solid;
  box-sizing: border-box;
}

/* line 235, ../sass/actionbar.scss */
.loader-spinner-alert {
  border-color: #be233a;
}

/* line 238, ../sass/actionbar.scss */
.loader-spiner {
  border-color: #939183;
}

/***
 *      ______ ____  _   _ _______ _____ 
 *     |  ____/ __ \| \ | |__   __/ ____|
 *     | |__ | |  | |  \| |  | | | (___  
 *     |  __|| |  | | . ` |  | |  \___ \ 
 *     | |   | |__| | |\  |  | |  ____) |
 *     |_|    \____/|_| \_|  |_| |_____/ 
 *                                       
 *                                       
 */
@font-face {
  font-family: digital;
  src: url("../font/DS-DIGII.TTF");
}
@font-face {
  font-family: "Abel";
  src: url("../font/Abel-Regular.eot");
  src: url("../font/Abel-Regular.eot?#iefix") format("embedded-opentype"), url("../font/Abel-Regular.svg#Abel") format("svg"), url("../font/Abel-Regular.woff") format("woff"), url("../font/Abel-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 35, ../sass/fonts.scss */
body {
  font-family: "Abel";
  font-weight: 800;
}

/***
 *       _____ ____  _      ____  _____   _____ 
 *      / ____/ __ \| |    / __ \|  __ \ / ____|
 *     | |   | |  | | |   | |  | | |__) | (___  
 *     | |   | |  | | |   | |  | |  _  / \___ \ 
 *     | |___| |__| | |___| |__| | | \ \ ____) |
 *      \_____\____/|______\____/|_|  \_\_____/ 
 *                                              
 *                                              
 */
/***
 *     __      __     _____   _____ 
 *     \ \    / /\   |  __ \ / ____|
 *      \ \  / /  \  | |__) | (___  
 *       \ \/ / /\ \ |  _  / \___ \ 
 *        \  / ____ \| | \ \ ____) |
 *         \/_/    \_\_|  \_\_____/ 
 *                                  
 *                                  
 */
/* line 9, ../sass/sliding-menu.scss */
.sliding-menu {
  position: absolute;
  left: 0;
  top: calc(40px + 7px);
  height: calc(100% - 40px - 7px);
  background-color: #939183;
  color: #cac3ad;
  -moz-transition-property: width, opacity;
  -o-transition-property: width, opacity;
  -webkit-transition-property: width, opacity;
  transition-property: width, opacity;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  z-index: 100;
  overflow: hidden;
  padding-left: 10px;
  font-size: 18pt;
  font-weight: 400;
}
/* line 26, ../sass/sliding-menu.scss */
.sliding-menu .menu-title {
  text-transform: uppercase;
  height: 50px;
  line-height: 50px;
}
/* line 32, ../sass/sliding-menu.scss */
.sliding-menu .menu-icon {
  position: relative;
  border-top: thin solid white;
  color: white;
  line-height: 40px;
  height: 40px;
  font-size: 14pt;
}
/* line 40, ../sass/sliding-menu.scss */
.sliding-menu .menu-icon .fa {
  color: #cac3ad;
}
/* line 44, ../sass/sliding-menu.scss */
.sliding-menu .menu-icon .fa-stack {
  width: 1em;
  height: 1em;
  line-height: 1em;
}
/* line 50, ../sass/sliding-menu.scss */
.sliding-menu .menu-icon .fa-stack-2x {
  font-size: 1em;
}
/* line 54, ../sass/sliding-menu.scss */
.sliding-menu .menu-icon .fa-stack-1x {
  font-size: 0.8em;
}
/* line 58, ../sass/sliding-menu.scss */
.sliding-menu .menu-icon .fa.fa-inverse {
  color: #939183;
}
/* line 62, ../sass/sliding-menu.scss */
.sliding-menu .menu-icon .menu-icon-text {
  position: absolute;
  top: 0;
  left: 2.5em;
}

/* line 72, ../sass/sliding-menu.scss */
.sliding-menu.collapse {
  width: 0;
  opacity: 0;
}

/* line 77, ../sass/sliding-menu.scss */
.sliding-menu.expand {
  width: 80%;
  -moz-box-shadow: rgba(0, 0, 0, 0.75) 2px 0px 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 2px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.75) 2px 0px 5px;
}

/* line 83, ../sass/sliding-menu.scss */
#config_interval {
  width: 4.5em;
  display: inline;
}

/* line 90, ../sass/sliding-menu.scss */
ul.plugin-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 95, ../sass/sliding-menu.scss */
ul.plugin-list .plugin {
  position: relative;
  width: auto;
  height: auto;
  font-size: 14pt;
  border-top: thin solid white;
  text-align: left;
  padding-left: 2.5em;
  color: white;
  line-height: 40px;
  height: 40px;
}
/* line 107, ../sass/sliding-menu.scss */
ul.plugin-list .plugin a {
  text-decoration: none;
}
/* line 111, ../sass/sliding-menu.scss */
ul.plugin-list .plugin a:link, ul.plugin-list .plugin a:visited, ul.plugin-list .plugin a:hover, ul.plugin-list .plugin a:active {
  color: #3e3d40;
}
/* line 115, ../sass/sliding-menu.scss */
ul.plugin-list .plugin i {
  position: absolute;
  color: #cac3ad;
  line-height: 40px;
  left: 0;
}

/***
 *       _____ ____  __  __ __  __  ____  _   _        _____  _____   ____  _____  ______ _____ _______ _____ ______  _____ 
 *      / ____/ __ \|  \/  |  \/  |/ __ \| \ | |      |  __ \|  __ \ / __ \|  __ \|  ____|  __ \__   __|_   _|  ____|/ ____|
 *     | |   | |  | | \  / | \  / | |  | |  \| |      | |__) | |__) | |  | | |__) | |__  | |__) | | |    | | | |__  | (___  
 *     | |   | |  | | |\/| | |\/| | |  | | . ` |      |  ___/|  _  /| |  | |  ___/|  __| |  _  /  | |    | | |  __|  \___ \ 
 *     | |___| |__| | |  | | |  | | |__| | |\  |      | |    | | \ \| |__| | |    | |____| | \ \  | |   _| |_| |____ ____) |
 *      \_____\____/|_|  |_|_|  |_|\____/|_| \_|      |_|    |_|  \_\____/|_|    |______|_|  \_\ |_|  |_____|______|_____/ 
 *                                                                                                                          
 *                                                                                                                          
 */
/* line 20, ../sass/notes-speaker.scss */
body {
  height: 100%;
  background-color: #e0dac7;
  color: #3e3d40;
}

/* line 32, ../sass/notes-speaker.scss */
#main-content:-webkit-full-screen {
  background-color: #e0dac7;
  height: 100%;
  width: 100%;
}

/* line 35, ../sass/notes-speaker.scss */
#main-content:fullscreen {
  background-color: #e0dac7;
  height: 100%;
  width: 100%;
}

/* line 38, ../sass/notes-speaker.scss */
#main-content:-moz-full-screen {
  background-color: #e0dac7;
  height: 100%;
  width: 100%;
}

/* line 43, ../sass/notes-speaker.scss */
.border {
  border-style: solid;
  border-width: 0px;
  position: absolute;
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
}

/***
 *      __  __          _____ _   _      _____ _____  _____ _____   ____   _____ _____ _______ _____ ____  _   _ 
 *     |  \/  |   /\   |_   _| \ | |    |  __ \_   _|/ ____|  __ \ / __ \ / ____|_   _|__   __|_   _/ __ \| \ | |
 *     | \  / |  /  \    | | |  \| |    | |  | || | | (___ | |__) | |  | | (___   | |    | |    | || |  | |  \| |
 *     | |\/| | / /\ \   | | | . ` |    | |  | || |  \___ \|  ___/| |  | |\___ \  | |    | |    | || |  | | . ` |
 *     | |  | |/ ____ \ _| |_| |\  |    | |__| || |_ ____) | |    | |__| |____) |_| |_   | |   _| || |__| | |\  |
 *     |_|  |_/_/    \_\_____|_| \_|    |_____/_____|_____/|_|     \____/|_____/|_____|  |_|  |_____\____/|_| \_|
 *                                                                                                               
 *                                                                                                               
 */
/* line 66, ../sass/notes-speaker.scss */
#notes, #time, #preview {
  width: calc(100% - (10px * 2));
  left: 0;
}

/* line 71, ../sass/notes-speaker.scss */
#notes {
  height: calc((100% - 40px - (2 * 10px) - (2 * 7px)) / 2);
  top: calc(40px + (2 * 7px));
}

/* line 76, ../sass/notes-speaker.scss */
#notes.fullSize {
  height: calc(100% - 40px - 10px - (2 * 7px));
  z-index: 50;
}

/* line 81, ../sass/notes-speaker.scss */
#preview {
  margin-bottom: 10px;
  height: calc((100% - 40px - (2 * 10px) - (2 * 7px)) / 2);
  bottom: 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 5px;
}

@media screen and (orientation: landscape) {
  /* line 89, ../sass/notes-speaker.scss */
  #notes {
    width: calc(30% - 10px - 10px);
    left: 0;
    height: calc(100% - 40px - 10px - (2 * 7px));
  }

  /* line 95, ../sass/notes-speaker.scss */
  #notes.fullSize {
    width: calc(100% - (2 * 10px));
  }

  /* line 99, ../sass/notes-speaker.scss */
  #preview {
    width: calc(70% - 10px - 10px);
    height: calc(100% - 40px - 10px - (2 * 7px));
    top: calc(40px + (2 * 7px));
    bottom: 0;
    left: 30%;
  }
}
/***
 *      _____  _____  ________      _______ ________          __
 *     |  __ \|  __ \|  ____\ \    / /_   _|  ____\ \        / /
 *     | |__) | |__) | |__   \ \  / /  | | | |__   \ \  /\  / / 
 *     |  ___/|  _  /|  __|   \ \/ /   | | |  __|   \ \/  \/ /  
 *     | |    | | \ \| |____   \  /   _| |_| |____   \  /\  /   
 *     |_|    |_|  \_\______|   \/   |_____|______|   \/  \/    
 *                                                              
 *                                                              
 */
/* line 120, ../sass/notes-speaker.scss */
#wrap-next-slide {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* line 126, ../sass/notes-speaker.scss */
.slides {
  position: relative;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 2px;
  background: #1c1e20;
}

/* line 134, ../sass/notes-speaker.scss */
.slides span {
  /*position: absolute;*/
  top: 3px;
  left: 3px;
  font-weight: bold;
  font-size: 14px;
  /*    color: rgba( 255, 255, 255, 0.9 );*/
}

/* line 143, ../sass/notes-speaker.scss */
.error {
  font-weight: bold;
  color: red;
  font-size: 1.5em;
  text-align: center;
  margin-top: 10%;
}

/* line 151, ../sass/notes-speaker.scss */
.error code {
  font-family: monospace;
}

/* line 155, ../sass/notes-speaker.scss */
iframe {
  border: none;
}

/*# sourceMappingURL=notes-speaker.css.map */