/***
 *       _____ ____  _      ____  _____   _____ 
 *      / ____/ __ \| |    / __ \|  __ \ / ____|
 *     | |   | |  | | |   | |  | | |__) | (___  
 *     | |   | |  | | |   | |  | |  _  / \___ \ 
 *     | |___| |__| | |___| |__| | | \ \ ____) |
 *      \_____\____/|______\____/|_|  \_\_____/ 
 *                                              
 *                                              
 */
/***
 *     __      __     _____   _____ 
 *     \ \    / /\   |  __ \ / ____|
 *      \ \  / /  \  | |__) | (___  
 *       \ \/ / /\ \ |  _  / \___ \ 
 *        \  / ____ \| | \ \ ____) |
 *         \/_/    \_\_|  \_\_____/ 
 *                                  
 *                                  
 */
/* line 9, ../sass/sliding-menu.scss */
.sliding-menu {
  position: absolute;
  /*left: 0;*/
  top: calc(40px + 7px);
  top: -webkit-calc(40px + 7px);
  width: 80%;
  height: calc(100% - 40px - 7px);
  height: -webkit-calc(100% - 40px - 7px);
  background-color: #939183;
  color: #cac3ad;
  left: -80%;
  z-index: 100;
  overflow: auto;
  font-size: 18pt;
  font-weight: 400;
}
/* line 26, ../sass/sliding-menu.scss */
.sliding-menu .menu-title {
  padding-left: 10px;
  margin-bottom: -10px;
  text-transform: uppercase;
  height: 50px;
  line-height: 50px;
}
/* line 34, ../sass/sliding-menu.scss */
.sliding-menu .menu-icon {
  font-family: 'open_sansregular';
  padding-left: 10px;
  position: relative;
  -moz-box-shadow: rgba(0, 0, 0, 0.75) 0px -1px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 0px -1px 1px;
  box-shadow: rgba(0, 0, 0, 0.75) 0px -1px 1px;
  border-top: thin solid white;
  color: white;
  line-height: 45px;
  height: 45px;
  font-size: 14pt;
}
/* line 45, ../sass/sliding-menu.scss */
.sliding-menu .menu-icon .fa {
  color: #cac3ad;
}
/* line 49, ../sass/sliding-menu.scss */
.sliding-menu .menu-icon .fa-stack {
  width: 1em;
  height: 1em;
  line-height: 1em;
}
/* line 55, ../sass/sliding-menu.scss */
.sliding-menu .menu-icon .fa-stack-2x {
  font-size: 1em;
}
/* line 59, ../sass/sliding-menu.scss */
.sliding-menu .menu-icon .fa-stack-1x {
  font-size: 0.8em;
}
/* line 63, ../sass/sliding-menu.scss */
.sliding-menu .menu-icon .fa.fa-inverse {
  color: #939183;
}
/* line 67, ../sass/sliding-menu.scss */
.sliding-menu .menu-icon .menu-icon-text {
  position: absolute;
  top: 0;
  left: 2.5em;
}

/*.sliding-menu.move{
  width:80%;    
  left: -80%;
}
*/
/* line 82, ../sass/sliding-menu.scss */
.sliding-menu.collapse {
  /*left:-80%;*/
  -moz-transition-property: width, opacity, left, -moz-transform;
  -o-transition-property: width, opacity, left, -o-transform;
  -webkit-transition-property: width, opacity, left, -webkit-transform;
  transition-property: width, opacity, left, transform;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
  /*opacity: 0;*/
}

/* line 91, ../sass/sliding-menu.scss */
.sliding-menu.expand {
  -moz-transition-property: width, opacity, left, -moz-transform;
  -o-transition-property: width, opacity, left, -o-transform;
  -webkit-transition-property: width, opacity, left, -webkit-transform;
  transition-property: width, opacity, left, transform;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  /*width:80%;	*/
  -moz-box-shadow: rgba(0, 0, 0, 0.75) 2px 0px 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 2px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.75) 2px 0px 5px;
}

/* line 102, ../sass/sliding-menu.scss */
#config_interval {
  width: 4.5em;
  display: inline;
}

/*# sourceMappingURL=sliding-menu.css.map */