/***
 *       _____ ____  _      ____  _____   _____ 
 *      / ____/ __ \| |    / __ \|  __ \ / ____|
 *     | |   | |  | | |   | |  | | |__) | (___  
 *     | |   | |  | | |   | |  | |  _  / \___ \ 
 *     | |___| |__| | |___| |__| | | \ \ ____) |
 *      \_____\____/|______\____/|_|  \_\_____/ 
 *                                              
 *                                              
 */
/***
 *     __      __     _____   _____ 
 *     \ \    / /\   |  __ \ / ____|
 *      \ \  / /  \  | |__) | (___  
 *       \ \/ / /\ \ |  _  / \___ \ 
 *        \  / ____ \| | \ \ ____) |
 *         \/_/    \_\_|  \_\_____/ 
 *                                  
 *                                  
 */
/***
 *      _______ _____ __  __ ______         _      ____          _____  ______ _____  
 *     |__   __|_   _|  \/  |  ____|       | |    / __ \   /\   |  __ \|  ____|  __ \ 
 *        | |    | | | \  / | |__          | |   | |  | | /  \  | |  | | |__  | |__) |
 *        | |    | | | |\/| |  __|         | |   | |  | |/ /\ \ | |  | |  __| |  _  / 
 *        | |   _| |_| |  | | |____        | |___| |__| / ____ \| |__| | |____| | \ \ 
 *        |_|  |_____|_|  |_|______|       |______\____/_/    \_\_____/|______|_|  \_\
 *                                                                                    
 *                                                                                    
 */
/**-----------------
* Ellapsed
**------------------
*/
/* line 23, ../sass/timer.scss */
.elapsed {
  position: absolute;
  width: calc(100% - (40px * 3 + 2px));
  height: 40px;
  top: 0;
  left: calc(40px * 2 + 1px);
  color: #3e3d40;
  vertical-align: middle;
}

/*
@media screen and (orientation:landscape){
    .elapsed {
        width:70%;
        border-radius:70%;
        padding-bottom:70%;
        margin-left:-35%;
        
    }
}*/
/* line 46, ../sass/timer.scss */
.elapsed_bg {
  background-color: #009aa6;
  position: absolute;
  height: 5px;
  width: 100%;
  bottom: 0;
  left: 0;
}

/* line 55, ../sass/timer.scss */
.elapsed_bg.alert {
  background-color: #be233a;
}

/* line 58, ../sass/timer.scss */
.elapsed_bg.advanced {
  background-color: #ffbb33;
}

/* line 62, ../sass/timer.scss */
.timeEllapesd {
  font-family: digital;
  font-size: 30px;
  line-height: 40px;
  color: #3e3d40;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  text-align: center;
}

/* line 74, ../sass/timer.scss */
.elapsed .mute {
  color: #dddddd;
}

/* line 78, ../sass/timer.scss */
.actions_times {
  position: absolute;
  background-color: #e0dac7;
  bottom: 0;
  left: 0;
  height: 40px;
  width: calc(40px * 2 + 1px);
}

/* line 87, ../sass/timer.scss */
#action_time_play, #action_time_stop, #action_time_pause {
  background-color: #009aa6;
  position: absolute;
  top: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  color: #fff;
  font-size: 150%;
  line-height: 150%;
  margin: auto;
}

/* line 100, ../sass/timer.scss */
#time i {
  font-size: 20px;
  line-height: 40px;
  top: 0;
  margin-top: 0;
}

/* line 107, ../sass/timer.scss */
#time .actionbar .icon-menu {
  line-height: 40px;
}

/* line 111, ../sass/timer.scss */
#time .actionbar .title-menu {
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 15px;
  line-height: 40px;
  text-align: left;
  left: 5px;
}

/* line 121, ../sass/timer.scss */
#action_time_play, #action_time_pause {
  left: 0;
}

/* line 124, ../sass/timer.scss */
#action_time_stop {
  left: calc(40px + 1px);
}

/**-----------------
* Config
**------------------
*/
/* line 133, ../sass/timer.scss */
#config_ellapsed_cancel, #config_ellapsed_validate {
  background-color: #009aa6;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  text-align: center;
  color: #fff;
  font-size: 1em;
  margin: auto;
}

/* line 145, ../sass/timer.scss */
#config_ellapsed_cancel {
  right: calc(40px + 1px);
}

/* line 149, ../sass/timer.scss */
#config_ellapsed_validate {
  right: 0;
}

/* line 153, ../sass/timer.scss */
.config_ellapsed_lbl {
  position: absolute;
  width: 60%;
  font-size: 1em;
  line-height: 1em;
  left: 5px;
  top: 0;
  text-align: center;
}

/* line 163, ../sass/timer.scss */
#time .config_ellapsed_time {
  font-family: digital;
  width: calc(100% - (40px * 2 + 1px) - 150px);
  margin: auto;
  height: 2em;
  position: absolute;
  top: 50%;
  right: calc(40px * 2 + 5px);
  margin-top: -1em;
}

/* line 174, ../sass/timer.scss */
#time .config_ellapsed_time input {
  font-family: digital;
  text-align: center;
  font-size: 25px;
  width: 100%;
}

/* line 181, ../sass/timer.scss */
#configEllapsed .actions_times {
  left: calc(100% - (40px * 2 + 1px));
}

/**-----------------
* Spinner
**------------------
*/
/* line 190, ../sass/timer.scss */
.loader-spiner, .loader-spinner-alert {
  width: 200%;
  height: 200%;
  border-radius: 50%;
  border: 10px solid;
  box-sizing: border-box;
}

/* line 199, ../sass/timer.scss */
.loader-spinner-alert {
  border-color: #be233a;
}

/* line 202, ../sass/timer.scss */
.loader-spiner {
  border-color: #009aa6;
}

/*# sourceMappingURL=timer.css.map */