<div class="actionbar">
	
    <div id="ellapsedTime">
        <div class="elapsed" ng-show="showTime">
            <div class="timeEllapesd">
                <span id="hours" ng-class="classHours" ng-show="showHours">{{hours}} : </span><span id="minutes" ng-class="classMinutes">{{minutes}}</span><span id="seconds"> : {{seconds}}</span><span class="totalTime">&nbsp;/&nbsp;{{model.defaultInterval}}:00</span>
            </div>
        </div>
        <div class="elapsed_bg">
        </div>                    
        <div id="progress_elapsed_time" class="elapsed_time">
        </div>                           
    </div>
    <div id="options" class="icon-menu" ng-click='toggleMenu()' ng-class='ui.showMenuClass' ><i class="fa fa-bars"></i></div>    
    <div id="pluginShow" class="icon-menu-plugin" ng-click='toggleMenuPlugin()' ng-class='ui.showMenuClass' ><i class="fa fa-rocket"></i></div>    
</div>