<div id="controls" ng-show="ui.showControls && ui.iframeLoad" >
	<div class="slide-preview-number"><span class="next-slide">{{model.nextSlideNumber}}</span> / <span class="nb-slides">{{model.nbSlides}}</div>	
	<a id="left"  ng-disabled="ui.controls.left" ng-click="leftClick($event)" style='color:{{ui.controlsColor}};'><i class="fa fa-caret-left fa-3x"></i></a>
	<a id="right"  ng-disabled="ui.controls.right" ng-click="rightClick($event)" style='color:{{ui.controlsColor}};'><i class="fa fa-caret-right fa-3x"></i></a>
	<a id="up"  ng-disabled="ui.controls.up" ng-click="upClick($event)" style='color:{{ui.controlsColor}};'><i class="fa fa-caret-up fa-3x"></i></a>
	<a id="down"  ng-disabled="ui.controls.down" ng-click="downClick($event)" style='color:{{ui.controlsColor}};'><i class="fa fa-caret-down fa-3x"></i></a>
	<a id="back" ng-show="showBack" ng-click="back()" ng-class="classBack">Back</a>
	<a id="show"  ng-disabled="ui.controls.show" ng-click="showClick($event)" ng-class="classShow"><i class="fa fa-share"></i>
	    
	</a>                			
</div>