<div class="actionbar">
	
    <div id="ellapsedTime">
        <div class="elapsed" ng-show="showTime">
            <div class="timeEllapesd">
                <span id="hours" ng-class="classHours" ng-show="showHours">{{hours}} : </span><span id="minutes" ng-class="classMinutes">{{minutes}}</span><span id="seconds"> : {{seconds}}</span><span class="totalTime">&nbsp;/&nbsp;{{model.defaultInterval}}:00</span>
            </div>
        </div>
        <div class="elapsed_bg">
        </div>                    
        <div id="progress_elapsed_time" class="elapsed_time">
        </div>                    
        <div class="actions_times" ng-show="showTime">
            <div id="action_time_play" ng-show="showPlay" ng-click='play()'>
                <i class="fa fa-play"></i>
            </div>
            <div id="action_time_pause" ng-hide="showPlay" ng-click='pause()'>
                <i class="fa fa-pause"></i>
            </div>            
        </div>
    </div>
    <div id="options" class="icon-menu" ng-click='toggleMenu()' ng-class='model.showMenuClass' ><i class="fa fa-bars"></i></div>    
</div>