<div id="controls" ng-show="ui.showControls && ui.iframeLoad">
	<div class="slide-preview-number"><span class="next-slide">{{model.nextSlideNumber}}</span> / <span class="nb-slides">{{model.nbSlides}}</div>
	<!--<a id="reset"  ng-disabled="ui.controls.reset" ng-click="resetClick($event)"><i class="fa fa-undo"></i></a>-->
	<!--<a id="next"  ng-disabled="ui.controls.next" ng-click="nextClick($event)"><i class="fa fa-step-forward fa-3x"></i></a>
	<a id="prev"  ng-disabled="ui.controls.prev" ng-click="prevClick($event)"><i class="fa fa-step-backward fa-3x"></i></a>-->
	<a id="left"  ng-disabled="ui.controls.left" ng-click="leftClick($event)"><i class="fa fa-caret-left fa-3x"></i></a>
	<a id="right"  ng-disabled="ui.controls.right" ng-click="rightClick($event)"><i class="fa fa-caret-right fa-3x"></i></a>
	<a id="up"  ng-disabled="ui.controls.up" ng-click="upClick($event)"><i class="fa fa-caret-up fa-3x"></i></a>
	<a id="down"  ng-disabled="ui.controls.down" ng-click="downClick($event)"><i class="fa fa-caret-down fa-3x"></i></a>
	<a id="back" ng-show="showBack" ng-click="back()" ng-class="classBack">Back</a>
	<a id="show"  ng-disabled="ui.controls.show" ng-click="showClick($event)" ng-class="classShow"><i class="fa fa-share"></i>
	    
	</a>                			
</div>