<div class="sliding-menu" >
	<div class="menu-title">Presentation</div>
	<div id="full-screen" class="menu-icon needsclick" ng-click='fullscreen()' ng-show='compatibility.fullScreen'>
		<i class="fa fa-expand"></i> 
		<div class='menu-icon-text'>			
			Full Screen
		</div>
	</div>
	<div class="menu-icon" ng-click='playPause()'>
        <i class="fa fa-play" ng-show="showPlay"></i>
        <i class="fa fa-pause" ng-hide="showPlay"></i>
		<div class='menu-icon-text' ng-bind="playText">					
		</div>
	</div>
	<div class="menu-icon" ng-click='stop()'>
		<span class="fa-stack">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-step-backward fa-inverse fa-stack-1x"></i>
		</span> 
		<div class='menu-icon-text'>
		Reset timer
		</div>
	</div>
	<div class="menu-icon">
		<i class="fa fa-clock-o"></i>
		<div class='menu-icon-text'>
		Duration
		<input id="config_interval" type="number" ng-model="model.defaultInterval">
		mn.
		</div>
	</div>
	<div class="menu-icon" ng-click='reset()'>
		<i class="fa fa-undo"></i> 
		<div class='menu-icon-text'>			
			Go to first slide
		</div>
	</div>
</div>
	